{% extends 'base.html' %}
{% load static %}
{% block title %}Product{% endblock %}
{% block content %}
    <section id="main">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="/media/product_image/img-1.jpg" alt="img-1">
                <img id="slide-2" src="/media/product_image/img-2.jpg" alt="img-2">
                <img id="slide-3" src="/media/product_image/img-3.jpg" alt="img-3">
                <img id="slide-4" src="/media/product_image/img-4.jpg" alt="img-4">
                <img id="slide-5" src="/media/product_image/img-5.jpg" alt="img-5">
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
                <a href="#slide-4"></a>
                <a href="#slide-5"></a>
            </div>
        </div>
        <div class="partner">
            <h2 class="page-title">Hamkorlarimiz</h2>
            <div class="partners">
                <div class="part"><img class="partner-image" src="/media/site_images/6d683d0a-af2a-4968-9f4f-a691c0e06706.original.png"
                     alt="img-1"></div>
                <div class="part"><img class="partner-image" src="/media/site_images/53d979db-a2b9-49f8-ac14-b7aaddbb64d1.original.png"
                     alt="img-2"></div>
                <div class="part"><img class="partner-image" src="/media/site_images/571c8cce-9a26-4855-92e0-82fa33eb5252.original.png"
                     alt="img-3"></div>
                <div class="part"><img class="partner-image" src="/media/site_images/12976eb6-0980-43a1-ac8a-e95fc6f190fd.original.png"
                     alt="img-4"></div>
                <div class="part"><img class="partner-image" src="/media/site_images/af3ecd2b-02c1-4628-bec8-ec0f9ece80fd.original.png"
                     alt="img-5"></div>
                <div class="part"><img class="partner-image" src="/media/site_images/bf18c51a-19a1-4367-8a08-8c005c34d61e.original.png"
                     alt="img-6"></div>
                <div class="part"><img class="partner-image" src="/media/site_images/c452dc55-1bfa-4495-b0c2-774818173873.original.png"
                     alt="img-7"></div>
                <div class="part"><img class="partner-image" src="/media/site_images/cd8a3f83-885b-4cde-8a59-50b753dd00a2.original.png"
                     alt="img-8"></div>
            </div>
        </div>
    </section>
{% endblock %}